<!-- Button -->
<style>
    .icon-filter{
        filter: invert(13%) sepia(98%) saturate(7493%) hue-rotate(233deg) brightness(90%) contrast(104%);
    }
</style>
<button
    mat-icon-button
    [matMenuTriggerFor]="options">
    <span class="relative">
        <mat-icon class="icon-filter" svgIcon="heroicons_outline:newspaper"></mat-icon>
       
    </span>
</button>
<mat-menu
    [xPosition]="'before'"
    #options="matMenu">
    <button mat-menu-item>
        <span class="flex flex-col leading-none fw-700">
           Facturación
        </span>
    </button>
    <mat-divider class="my-2"></mat-divider>
    <button mat-menu-item (click)="generalInfo()">
        <mat-icon>info</mat-icon>
        <span>Información general</span>
    </button>
    <button mat-menu-item (click)="paymentRecord()" >
        <mat-icon>account_balance_wallet</mat-icon>
        <span>Historial de pago</span>
    </button>
    <button mat-menu-item (click)="paymentMethods()">
        <mat-icon>credit_card</mat-icon>
        <span>Métodos de pago</span>
    </button>
    <button mat-menu-item  (click)="preferences()">
        <mat-icon>star_border</mat-icon>
        <span>Preferencias</span>
    </button>
</mat-menu>
