*{
    color: #01236D !important;
    
}

.fw-700{
    font-weight: 700 !important;
}

::ng-deep{
    .mat-menu-panel{
        border-radius: 16px !important;
    }
}

.mat-menu-item{
    height: 30px !important;
}