<div class="prose prose-sm max-w-3xl mx-auto sm:my-2 lg:mt-4 p-6 rounded-2xl shadow overflow-hidden bg-card mt-6"
    *ngIf="tutorial && credentialsForm">

    <h1>
        {{ 'tutorials.integration_steps.how_to_start' | transloco }}
    </h1>

    <h2>
        {{ 'tutorials.integration_steps.step_1_title' | transloco }}
    </h2>

    <p innerHTML="{{ 'tutorials.integration_steps.step_1_content' | transloco }}">
    </p>

    <h2>
        {{ 'tutorials.integration_steps.step_2_title' | transloco }}
    </h2>

    <p innerHTML="{{ 'tutorials.integration_steps.step_2_content' | transloco }}">
    </p>

    <img src="https://cdn.verifik.co/tutorials/screenshot.png" alt="where to get the key">

    <h3 class="mr-1">
        {{ 'tutorials.integration_steps.step_3_title' | transloco }}
    </h3>

    <p innerHTML="{{ 'tutorials.integration_steps.step_3_content' | transloco }}">
    </p>

    <form class="flex items-end p-4 border-t bg-gray-50 dark:bg-transparent grid grid-rows-auto"
        [formGroup]="credentialsForm">

        <mat-form-field *ngFor="let field of tutorial.fields"
            class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded fuse-mat-bold w-full m-1">

            <mat-label>{{ field.label | transloco}}</mat-label>

            <input id="{{field.key}}" matInput [formControlName]="field.key" *ngIf="field.type === 'input'">

            <button matSuffix mat-icon-button aria-label="Clear" (click)="generateUID()"
                *ngIf="field.key ==='externalDatabaseRefId'">
                <mat-icon>sync</mat-icon>
            </button>

            <textarea class="min-h-5 my-0 resize-none" style="margin: 11px 0 !important; padding: 0 !important;"
                [rows]="3" matInput id="{{field.key}}" [formControlName]="field.key" *ngIf="field.type ==='textarea'">
            </textarea>
            <mat-select id="{{field.key}}" [formControlName]="field.key"  *ngIf="field.type ==='select'" class="min-h-5 my-0 resize-none" style="margin: 11px 0 !important; padding: 0 !important;">
                <mat-option *ngFor="let option of field.options" [value]="option[0]"> {{option[1]}} </mat-option>
            </mat-select>

        </mat-form-field>

        <div *ngFor="let image of tutorial.images">
            <mat-label>{{ image.label | transloco}}</mat-label>

            <input class="hidden" type="file" [id]='image.key' (change)="fileChange($event.target.files[0], image.key)" placeholder="Upload file" accept="image/*">

            <img [src]="images[image.key]" class="rounded w-20" (click)="click(image.key)">
            <ng-container>
                <span class="top-6 ml-4 text-lg text-secondary" (click)="click(image.key)">{{ 'tutorials.credentials.uploadImage' | transloco}}</span>
                <mat-icon class="top-4 ml-1" style="color: #0036E7;" svgIcon="heroicons_outline:upload" (click)="click(image.key)"> </mat-icon>
            </ng-container>
        </div>
    </form>
</div>