<div class="flex justify-center mt-8 w-full">
    <div class="w-full">
        <div class="w-full border-2 h-12 rounded-t-xl" style="background: #F9F9FF;">
            <span class="dot mx-1 h-4 w-4 relative top-4" style="background: rgba(234, 105, 92, 1);"></span>
            <span class="dot mx-1 h-4 w-4 relative top-4" style="background: rgba(243, 189, 78, 1);"></span>
            <span class="dot mx-1 h-4 w-4 relative top-4" style="background: rgba(98, 198, 85, 1);"></span>
            <div class="border-2 flex justify-center relative -top-4 font-bold ml-18 mr-8 w-7/8 rounded-full"
                style="background: rgba(194, 201, 211, 1);"> URL de tu App
                <mat-icon class="relative  ml-2" svgIcon="mat_outline:refresh" style="transform:scale(.75);">
                </mat-icon>

            </div>
        </div>
        <div class="border-solid"
            [ngStyle]="{'background-color':colorMap.borderColor}">
            <div class="flex w-full justify-end pt-8">
                <div class="grid grid-rows-1 mr-12 text-right">
                    <div>
                        ¿Nuevo en VerifiK?
                    </div> 
                    <div class="">
                        Registrate
                    </div>
                </div>
            </div>
            <div class="w-full max-w-full mx-auto sm:mx-0">
                <!-- Logo -->
                <div class="w-12 mx-auto">
                    <img *ngIf="!logo" src="https://cdn.verifik.co/assets/yourlogohere.jpeg"
                        style=" position: relative;overflow: hidden;border-radius: 50%;">
                    <!-- <mat-icon *ngIf="!logo" [style.color]="color" svgIcon="heroicons_outline:check-circle"></mat-icon> -->
                    <img *ngIf="logo" [src]="logo">
                </div>
            </div>
            <div class="flex w-full justify-center text-verifik-vivid-blue text-sm font-bold">
                Iniciar Sesion
            </div>
            <div class="w-full flex justify-center my-4 text-verifik-vivid-blue">
                <button class="mx-1 rounded-md px-2 pt-2 pb-3" (click)="selectMethod('phone')"
                [ngClass]="{'selectedOption': method === 'phone',
                            'notSelected': method !== 'phone'}">
                    <span>
                        <mat-icon class="relative top-2" svgIcon="heroicons_outline:phone"
                        [ngClass]="{'selectedIcon': method === 'phone'}"></mat-icon>
                        Telefono
                    </span> 
                </button>
                <button class="mx-1 rounded-md px-2 pt-2 pb-3" (click)="selectMethod('email')"
                [ngClass]="{'selectedOption': method === 'email',
                            'notSelected': method !== 'email'}">
                <span>
                    <mat-icon class="relative top-2" svgIcon="heroicons_outline:mail"
                    [ngClass]="{'selectedIcon': method === 'email'}"></mat-icon>
                    Correo Electronico
                </span>
                </button>
                <button class="mx-1 rounded-md px-2 pt-2 pb-3" (click)="selectMethod('qr')"
                [ngClass]="{'selectedOption': method === 'qr',
                            'notSelected': method !== 'qr'}">
                <span>
                    <mat-icon class="relative top-2" svgIcon="heroicons_outline:qrcode"
                    [ngClass]="{'selectedIcon': method === 'qr'}"></mat-icon>
                    Codigo QR
                </span>
                </button>
            </div>
            <ng-container *ngIf="method == 'phone'">
                <div class="w-full flex justify-center">
                    <mat-form-field class="w-1/2 fuse-mat-rounded">
                        <input id="phone" placeholder="Teléfono" matInput (keypress)="keyPressNumbers($event)" maxlength="12" [(ngModel)]="phone">
                        <mat-select *ngIf="countries" class="mr-1.5" [(ngModel)]="countryCode"  matPrefix>
                            <mat-select-trigger>
                                <span class="flex items-center">
                                    <span
                                    class="sm:mx-0.5 font-medium text-default">{{getCountryByIso(countryCode).code}}</span>
                                </span>
                            </mat-select-trigger>
                            <ng-container *ngFor="let country of countries; trackBy: trackByFn">
                                <mat-option [value]="country.code">
                                    <span class="flex items-center">
                                        <span class="ml-2">{{country.name}}</span>
                                        <span class="ml-2 font-medium">{{country.code}}</span>
                                    </span>
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="w-full flex justify-center">
                    <div class="text-xl">
                        Solicita Código OTP
                    </div>
                </div>
                <div class="w-full flex justify-center">
                    <button mat-button class="w-auto rounded-full bg-verifik-vivid-blue text-white">
                        WhatsApp
                    </button>
                </div>
                <div class="w-full flex justify-center my-2">
                    <button mat-button class="w-auto rounded-full bg-verifik-vivid-blue text-white">
                        Mensaje de texto
                    </button>
                </div>
            </ng-container>
            <ng-container *ngIf="method == 'email'">
                <div class="w-full flex justify-center">
                    <mat-form-field class="w-1/2 fuse-mat-rounded">
                        <input [disabled]="sendOTP" id="email" placeholder="Correo electrónico" matInput [(ngModel)]="email">
                        <mat-icon matPrefix  svgIcon="heroicons_outline:mail"></mat-icon>
                    </mat-form-field>
                </div>
                <div *ngIf="sendOTP" class="w-full flex justify-center">
                    <mat-form-field class="w-1/2 fuse-mat-rounded">
                        <input  id="otp" placeholder="OTP" matInput [(ngModel)]="otp">
                        <mat-icon matPrefix  svgIcon="heroicons_outline:view-grid"></mat-icon>
                    </mat-form-field>
                </div>
                <div *ngIf="sendOTP && unsetAuthenticator" class="w-full flex justify-center">
                    <mat-form-field class="w-1/2 fuse-mat-rounded">
                        <input  id="otp2fa" placeholder="authenticator OTP" matInput [(ngModel)]="otp2fa">
                        <mat-icon matPrefix  svgIcon="mat_outline:vpn_key"></mat-icon>
                    </mat-form-field>
                </div>
                <div *ngIf="sendOTP && unsetAuthenticator" class="w-full flex justify-center">
                    <div class="text-secondary">
                        si no has configurado tu google authenticator 
                    </div>
                    <a class="clickable ml-2 text-verifik-vivid-blue" (click)="openExampleToTwoFA()"> haz click aqui</a>
                </div>
                
                <div class="w-full flex justify-center">
                    <button *ngIf="!sendOTP" mat-button (click)="selectMethodToLog('email')" class="w-auto rounded-full bg-verifik-vivid-blue text-white">
                        Solicitar Código
                    </button>
                    <button *ngIf="sendOTP" mat-button (click)="validateEmailOTP()" class="w-auto rounded-full bg-verifik-vivid-blue text-white">
                        Iniciar Sesion
                    </button>
                </div>
            </ng-container>
            <div class="flex justify-center z-10">
                <div class="relative z-10 top-40 text-white">
                    <span [ngClass]="{'copy-verifik-phone': phoneMode,
                    'copy-verifik-tablet': tabletMode,
                    'copy-verifik-laptop': laptopMode,
                    'copy-verifik-big':bigScreenMode}"> secured by  </span>
                </div> 
                <div class="relative z-10 top-40 text-white">
                    <img class="relative w-4 h-4 z-10 ml-2" src="https://cdn.verifik.co/assets/VerifiK%20White.png" alt=""
                    [ngClass]="{'verifik-logo-phone': phoneMode,
                                'verifik-logo-tablet': tabletMode,
                                'verifik-logo-laptop': laptopMode,
                                'verifik-logo-big':bigScreenMode}">
                </div> 
            </div>
           <div class="flex justify-center">
               <img class="relative top-10" style="transform:scale(0.5)" src="https://cdn.verifik.co/assets/Vector.svg" alt=""
               [ngClass]="{'banner-phone': phoneMode,
                           'banner-tablet': tabletMode,
                           'banner-laptop': laptopMode,
                           'banner-big':bigScreenMode}">
           </div>
        </div>
    </div>
</div>