.mat-select-panel{
    border-radius: 25px !important;
}
app-demo-root{
overflow: hidden;
}

button:disabled {
    background: #0036e787 !important;
    cursor: not-allowed;
}

.starter .mat-progress-bar-fill::after {
    background-color: #EAB417 !important;
    color: #EAB417 !important;
}

.failedOTl .mat-progress-bar-fill::after {
    background-color: rgba(235, 23, 23, 1) !important;
    color: #F20505 !important;
}

.finishOtl .mat-progress-bar-fill::after {
    background-color: rgba(26, 183, 0, 1) !important;
    color: rgba(26, 183, 0, 1)  !important;
}

.scan-txt{
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.001em;
    color: #01236D;
    max-width: 293px;
}

.demo-form-col{
    width: 275px;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.001em;
    color: #01236D;
}

.over-progress{
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 0.001em;
}

.age-estimate{
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 0.001em;
    color: #01236D;
}

.estimate-txt{
    font-weight: 500;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.001em;
    color: #AEAEAE;
}

.text-code-area{
    color: rgba(52, 79, 138, 1);
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.03em;
    text-align: left;
}
.enlarge{
    background: rgba(255, 255, 255, 0.75);
}
.code-area{
    height: 14rem !important;
    background-color: rgba(1, 35, 109, 1) !important;
    color: white !important;
}

.background-gradient {
    height: 100vh;
    width: 100%;
    overflow-x: hidden !important;
    overflow-y: auto !important;
}

.down-gradient {
    overflow: hidden !important;
    position: absolute;
    width: 2246px;
    height: 2325px;
    left: -152px;
    top: -521px;
    z-index: -1;
    background: radial-gradient(50% 50% at 50% 50%, #00FFE0 0%, rgba(217, 217, 217, 0) 100%);

}

.top-gradient {
    overflow: hidden !important;
    background: radial-gradient(50% 50% at 50% 50%, #0036E7 0%, rgba(217, 217, 217, 0) 100%);
    position: absolute;
    top: 74px;
    left: -216px;
    width: 1316px;
    z-index: -1;
    height: 1340px;
}

.demo-canvas {
    // overflow: auto;
    // height: 100%;
    // width: calc(100% - 80px);
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    margin: 30px;
    border-radius: 25px;
    background-color: white;
    z-index: 10;
}
.demo-canvas-phone{
    // overflow: auto;
    // height: 100%;
    // width: calc(100% - 80px);
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    margin: 30px;
    border-radius: 25px;
    background-color: white;
    z-index: 10;
}

.list-feature {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.001em;
    color: #01236D;
}

.text-align-center{
    text-align: center;
}

.list-feature-pc{
    max-width: 462px !important;
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 0.001em;
    color: #01236D;
}

@media screen and (min-height: 850px) {

    .home-image {
        width: 390px;
        height: 390px;
    }

    .verifik-welcome-desktop {
        width: 340px;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        letter-spacing: -0.01em;
        color: #0036E7;
    }

    .verifik-description-desktop {
        width: 462px;
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 28px;
        text-align: center;
        letter-spacing: 0.001em;
        color: #01236D;
    }

    .verifik-start-desktop {
        width: 228px;
        height: 50px;
        background: #0036E7;
        border-radius: 100px;
        font-weight: 500;
        font-size: 28px;
        line-height: 20px;
        letter-spacing: 0.1px;
        color: #FFFFFF;
    }

}

.home-image {
    width: 300px;
    height: 300px;
}

.verifik-welcome-desktop {
    width: 340px;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #0036E7;
}

.verifik-description-desktop {
    width: 462px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.001em;
    color: #01236D;
}

.verifik-start-desktop {
    width: 160px;
    height: 40px;
    background: #0036E7;
    border-radius: 100px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}


// ========PHONE MODE===============

.verifik-welcome-phone {
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #0036E7;
}

.verifik-description-phone {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.001em;
    color: #01236D;
}

.verifik-start-phone {
    height: 40px;
    background: #0036E7;
    border-radius: 100px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}

.verifik-form-text-phone{
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.001em;
    color: #01236D;
}

.verifik-start-phone {
    width: 120px;
    height: 40px;
    background: #0036E7;
    border-radius: 100px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}

.selectable-feature{
    width: 267px;
    height: 191px;
    background: #FFFFFF;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.selectable-title{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.001em;
    color: #01236D;
}

.selectable-description{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.001em;
    color: #01236D;
}

.selected-option{
    border:8px solid #0000;
    background:
    linear-gradient(white,white) padding-box,
    linear-gradient(180deg, #00FFDF 0%, #0036E7 100%)border-box;
    margin: 0 auto;

    // border-image: linear-gradient(180deg, #00FFDF 0%, #0036E7 100%);
    // border-image-slice: 1;
    border-radius: 20px;
}

.instructions-link-phone{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.001em;
    color: #01236D;
}
.t-b-height-phone {
    height: 50px !important;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  
}
.trip-content-height-phone {
    overflow: auto;
    height: calc(100% - 55px);
    margin-right: 1rem;
    margin-left: 1rem;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

  .bordert-steps{
    border-top: 2px solid rgba(0, 54, 231, 1);
}

.borderb-steps{
    border-bottom: 2px solid rgba(0, 54, 231, 1);
}

.li-flex {
    flex: 1 1 80%;
}

.icon-flex {
    flex: 1 1 20%;
}

.font-400{
    font-weight: 400;
}

.font-500{
    font-weight: 500;
}

.font-600{
    font-weight: 600;
}

.font-700{
    font-weight: 700;
}

.center-img{
    display: flex;
    align-items: center;
    height: 100%;
}
.card-shadow{
    box-shadow: 1px 4px 8px 4px rgba(0, 0, 0, 0.1);
}

.title-table{
    font-weight: 600;
    font-size: 9px;
    line-height: 12px;
    background: rgba(0, 54, 231, 0.25);
    color: #01236D;
    height: 28px;
}

.even-table{
    background: white;
    color: #01236D;
    font-weight: 400;
    font-size: 9px;
    line-height: 9px;
    letter-spacing: 0.001em;
    min-height: 28px;
}

.odd-table{
    background: rgba(0, 54, 231, 0.1);
    color: #01236D;
    font-weight: 400;
    font-size: 9px;
    line-height: 9px;
    letter-spacing: 0.001em;
    min-height: 28px;
}

.document-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.001em;
    color: #01236D;
}


.verifik-end-phone {
    width: 200px;
    height: 40px;
    background: #0036E7;
    border-radius: 100px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}

.change-demo{
    border: 2px #0036E7 solid;
    background-color: #FFFFFF;
    color:#0036E7;
}